<a href="https://colab.research.google.com/github/Tiwari666/Data_Science_Python/blob/main/Placehoder_String_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Placeholder in a string format/string formatting placeholders**
In Python, a placeholder typically refers to a special character or sequence used to represent data that will be substituted into a string at runtime. One common way to use placeholders is through string formatting.


Placeholders are commonly used in programming languages, frameworks, and libraries for various purposes, such as defining variables, formatting strings, or specifying values for input parameters.

Placeholders allow developers to write code that can be reused with different inputs or configurations without having to hardcode specific values.

# **Example of string formatting using placeholders:**

In [15]:
name = "john"
age =26
occupation="Data scientist"
# Using format method with placeholders
message = "Hello, my name is {} and I am {} years young. My profession is a {}.".format(name,age,occupation)
print(message)

Hello, my name is john and I am 26 years young. My profession is a Data scientist.

In this example, {} serves as a placeholder for the variables name, age, and occupation. The format() method substitutes the placeholders with the actual values.

# **Example of f-strings for string interpolation:**

In [17]:
name = "john"
age =26
occupation="Data scientist"
message = f"Hello, my name is {name} and I am {age} years young. My profession is a {occupation}."
print(message)

Hello, my name is john and I am 26 years young. My profession is a Data scientist.

# **Placeholder for a string and for a number:**

In Python, %s and %d are string formatting placeholders used with the % operator to insert values into strings.

%s is used as a placeholder for string values.

%d is used as a placeholder for integer values.

Their associated values are passed in via a tuple using the % operator.

# **Example of placeholder using the % operator:**

In [20]:
name = "john"
age =26
occupation="Data scientist"
message = "Hello, my name is %s and I am %d years young. My profession is a %s." % (name,age,occupation)
print(message)

Hello, my name is john and I am 26 years young. My profession is a Data scientist.

# **Example of Placeholder in a SQL query:**

In [21]:
sql_query= "SELECT * FROM Table1 WHERE id = %s"
user_id = 123
formattted_query = sql_query % user_id
print(formattted_query)

SELECT * FROM Table1 WHERE id = 123