<a href="https://colab.research.google.com/github/Tiwari666/Data_Science_Python/blob/main/Practice1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1:  "__init__" method:

In Python, the __init__ method is a special method used for initializing newly created objects. It is called automatically when a new instance of a class is created. The purpose of __init__ is to initialize the attributes of the object to some initial values.

In [ ]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def print_info(self):
        print(f"Name: {self.name}, Age : {self.age}")

# Creating the instance of the person:
person1 = person("Alice", 32)

# Accessing attributes and calling the method
person1.print_info()

Name: Alice, Age : 32

#Problem 2: Write a Python Program using Function and *args; it can perform all task of arithmetic operators in python (addition, subtraction, division, multiplication, floor division, modulus, exponential)#

a + x 	# Addition

a - x 	# Subtraction

a * x 	# Multiplication

a / x 	# Division

a % x 	# Modulo: The remainder of a / x

a ** x 	# Exponent: a to the power of x or a ^ x

a // x 	# Floor division: Rounds down result of a / x

In [ ]:
def arithmetic_operations(operator, *args):
    result = None

    if operator == '+':
        result = sum(args)
    elif operator == '-':
        result = args[0] - sum(args[1:])
    elif operator == '*':
        result = 1
        for num in args:
            result *= num
    elif operator == '/':
        result = args[0]
        for num in args[1:]:
            result /= num
    elif operator == '//':
        result = args[0]
        for num in args[1:]:
            result //= num
    elif operator == '%':
        result = args[0] % args[1]
    elif operator == '**':
        result = args[0] ** args[1]
    else:
        print("Invalid operator")
        return None

    return result

In [ ]:
# Example usage:
add_result = arithmetic_operations('+', 1, 2, 3, 4)
print("Addition result:", add_result)

sub_result = arithmetic_operations('-', 10, 2, 3)
print("Subtraction result:", sub_result)

mul_result = arithmetic_operations('*', 2, 3, 4)
print("Multiplication result:", mul_result)

div_result = arithmetic_operations('/', 10, 2)
print("Division result:", div_result)

floor_div_result = arithmetic_operations('//', 10, 3)
print("Floor Division result:", floor_div_result)

mod_result = arithmetic_operations('%', 10, 3)
print("Modulus result:", mod_result)

exp_result = arithmetic_operations('**', 2, 3)
print("Exponential result:", exp_result)

Addition result: 10
Subtraction result: 5
Multiplication result: 24
Division result: 5.0
Floor Division result: 3
Modulus result: 1
Exponential result: 8

#Problem 3: Write a Python Program using Function and **kwargs.

In [ ]:
def arith_operator(**kwargs):
    result = None

    if 'add' in kwargs:
        result = sum(kwargs['add'])
    elif 'subtract' in kwargs:
        result = kwargs['subtract'][0] - sum(kwargs['subtract'][1:])
    elif 'multiply' in kwargs:
        result = 1
        for num in kwargs['multiply']:
            result *= num
    elif 'divide' in kwargs:
        if 0 in kwargs['divide'][1:]:
            print("Error: Division by zero is not allowed.")
            return None
        result = kwargs['divide'][0]
        for num in kwargs['divide'][1:]:
            result /= num
    else:
        print("Invalid operation")
        return None

    return result

In [ ]:
add_result = arith_operator(add=[1, 2, 3, 4])
print("Addition result:", add_result)

sub_result = arith_operator(subtract=[10, 2, 3])
print("Subtraction result:", sub_result)

mul_result = arith_operator(multiply=[2, 3, 4])
print("Multiplication result:", mul_result)

div_result = arith_operator(divide=[10, 2])
print("Division result:", div_result)

Addition result: 10
Subtraction result: 5
Multiplication result: 24
Division result: 5.0

#Problem 4: Write Python Program using Built-in Functions (Multiple Programs using Built-in Functions)

In [ ]:
num_str = "123"
num_int = int(num_str)
print(num_int)
num_float = float(num_str)
print(num_float)
str_num = str(num_int)
print(str_num)
type(str_num)

123
123.0
123

str

In [ ]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Kyale
Hello, Kyale

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
pi = 3.14159
rounded_pi = round(pi, 2)
print("Rounded pi:", rounded_pi)

Rounded pi: 3.14

# Problem 5: Username and Password:

In [ ]:
def login_system():
    # Set the correct username and password
    correct_username = "user123"
    correct_password = "pass123"

    # Get user input for username and password
    entered_username = input("Enter your username: ")
    entered_password = input("Enter your password: ")

    # Check the entered username and password
    if entered_username == correct_username:
        if entered_password == correct_password:
            print("Login successful! Welcome,", entered_username)
        else:
            print("Incorrect password. Please try again.")
    elif entered_username != correct_username:
        print("Username not found. Please register or check your username.")
    else:
        print("Invalid input. Please try again.")

# Call the login system function
login_system()

Enter your username: user123
Enter your password: pass123
Login successful! Welcome, user123

#Program 6: Print the first 10 natural numbers, 10 odd numbers, 10 even numbers, 10 prime number using for loop.

In [ ]:
def is_prime(num):
    if num ==1:
        return False # 1 is neither a prime nor a composite number....
    for i in range(2, int(num**0.5) + 1): # range goes from 2 to the square root of a number
        if num % i == 0: #If the given number is divisible by any of the numbers from 2 to the square root of the number, the function will return False
            return False
    return True


#Test Function
for num in range(1,10):
    print(num, is_prime(num))

1 False
2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False

# Problem 7: Even or Odd or Prime

In [ ]:
def print_sequence(sequence_name, start, end, step=1):
    print(f"{sequence_name}:")
    for i in range(start, end + 1, step):
        print(i, end=" ")
    print("\n")

# Print the first 10 natural numbers
print_sequence("First 10 natural numbers", 1, 10)

# Print the first 10 odd numbers
print_sequence("First 10 odd numbers", 1, 20, 2)

# Print the first 10 even numbers
print_sequence("First 10 even numbers", 2, 20, 2)

First 10 natural numbers:
1 2 3 4 5 6 7 8 9 10

First 10 odd numbers:
1 3 5 7 9 11 13 15 17 19

First 10 even numbers:
2 4 6 8 10 12 14 16 18 20

In [2]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

def print_prime_numbers():
    count = 0  # staring point of counting
    num = 2 # starting point for finding prime numbers  because the first prime number is 2.
    while count < 10: # counting of 10 first prime numbers
        if is_prime(num):
            print(num, end=" ")
            count += 1
        num += 1   #increasing the value of num by 1

print("First 10 prime numbers:")
print_prime_numbers()

First 10 prime numbers:
2 3 5 7 11 13 17 19 23 29

#Program 8: Python program to calculate the sum, subtraction, division, multiplication, floor division, modulus, exponential of all numbers from 1 to a given number input().

In [ ]:
def add(a, b,c):
    return a+b+c
def subtract(a, b,c):
    return a-b-c
def mult(a, b,c):
    return a*b*c
def div(a, b,c):
    return a/b/c

num1 = int(input("Enter The First Number: "))
num2 = int(input("Enter The Second Number: "))
num3 = int(input("Enter The Third Number: "))

operator = input("Enter any these operator +,-,*,/ : ")

result = 0
if operator == '+':
    operation = 'Addition'
    print(f"The {operation} of {num1}, {num2} and {num3} is {add(num1, num2,num3)}.")
elif operator == '-':
    operation = 'Subtraction'
    print(f"The {operation} of {num1}, {num2} and {num3} is {subtract(num1, num2,num3)}.")
elif operator == '*':
    operation = 'Multiplication'
    print(f"The {operation} of {num1}, {num2} and {num3} is {mult(num1, num2,num3)}.")
elif operator == '/':
    operation = 'Division'
    print(f"The {operation} of {num1}, {num2} and {num3} is {div(num1, num2,num3)}.")
else:
    print("Invalid input operator character!")

Enter The First Number: 5
Enter The Second Number: 5
Enter The Third Number: 5
Enter any these operator +,-,*,/ : +
The Addition of 5, 5 and 5 is 15.

# Program 9: Python program that accepts a word from the user and reverses it.

In [ ]:
# Accept a word from the user
word = input("Enter a word: ")

# Reverse the word
reversed_word = word[::-1]

# Print the reversed word
print("Reversed word:", reversed_word)

Enter a word: narayan
Reversed word: nayaran

In [ ]:
def reverse_word(word):
    return word[::-1]

# Accept a word from the user
word = input("Enter a word: ")

# Call the function to reverse the word
reversed_word = reverse_word(word)

# Print the reversed word
print("Reversed word:", reversed_word)

Enter a word: bikash
Reversed word: hsakib

#Program 10: Python program to check if a given number is an Armstrong number.

In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:

153 = 1 * 1 * 1 + 5 * 5 * 5 + 3 * 3 * 3  // 153 is an Armstrong number.

#1634

#As per the definition all one-digit numbers are Armstrong numbers. There are no any two digits Armstrong numbers. Three-digit Armstrong numbers are 153,370,371 and 407.

In [ ]:
def is_armstrong_number(number):
    # Convert the number to a string to find the number of digits
    num_str = str(number)
    num_digits = len(num_str)

    # Calculate the sum of digits raised to the power of the number of digits
    armstrong_sum = sum(int(digit) ** num_digits for digit in num_str)

    # Check if the number is an Armstrong number
    return armstrong_sum == number

# Accept a number from the user
user_number = int(input("Enter a number: "))

# Call the function to check if it's an Armstrong number
if is_armstrong_number(user_number):
    print(f"{user_number} is an Armstrong number.")
else:
    print(f"{user_number} is not an Armstrong number.")

Enter a number: 156
156 is not an Armstrong number.

#Program 11: Python program to get the Fibonacci series between 0 to input().

Fibonacci series is a series of numbers in which each number ( Fibonacci number ) is the sum of the two preceding numbers. The simplest is the series 1, 1, 2, 3, 5, 8, etc.

In [ ]:
num = 10 # print the first 10 Fibonacci number
a, b = 0, 1
print("Fibonacci Series:", a, b, end=" ")
for i in range(2, num):
    c = a + b
    a = b
    b = c
    print(c, end=" ") # all the time, c will be the Fibonacci number. Hence, print it...

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

# Problem 12-Extra: Swap Two Numbers: creating a temporary variable

In [ ]:
# To take inputs from the user
x = input('Enter value of x: ')
y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 3
Enter value of y: 7
The value of x after swapping: 7
The value of y after swapping: 3

##Another method: Swap Two Numbers: DIRECT METHOD...

In [ ]:
#x = 5
#y = 10
x = input('Enter value of x: ')
y = input('Enter value of y: ')

x, y = y, x
print("x =", x)
print("y =", y)

Enter value of x: 4
Enter value of y: 9
x = 9
y = 4

#Program 13: Python program to find the factorial of a given number.

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Accept a number from the user: Defining the input
user_number = int(input("Enter a number to find its factorial: "))

# Call the function to find the factorial: Defining the output
result = factorial(user_number)

# Print the factorial using the input/parameter and the output
print(f"The factorial of {user_number} is: {result}.")

Enter a number to find its factorial: 5
The factorial of 5 is: 120.

#Program 14: Python program to convert the month name to a number of days.

April, June, September, November--30 days

February--28 or 29 day in the leap year

Others--31 days

In [ ]:
def month_to_days(month_name):
    month_name = month_name.lower()
    days_in_month = {
        'january': 31,
        'february': 28,
        'march': 31,
        'april': 30,
        'may': 31,
        'june': 30,
        'july': 31,
        'august': 31,
        'september': 30,
        'october': 31,
        'november': 30,
        'december': 31
    }

    if month_name in days_in_month:
        return days_in_month[month_name]
    else:
        return "Invalid month name"

# Accept the month name from the user
user_month = input("Enter the month name: ")

# Call the function to convert to days
result = month_to_days(user_month)

# Print the result
print(f"The number of days in {user_month.capitalize()} is: {result}.")

Enter the month name: January
The number of days in January is: 31.

# Alternative method:

In [ ]:
# Display a list of months to the user
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")

# Request input from the user to enter the name of a month and assign it to the variable 'month_name'
month_name = input("Input the name of Month: ")

# Check the input 'month_name' and provide the number of days based on the entered month
if month_name == "February":
    print("No. of days: 28/29 days")  # Display the number of days in February (28 or 29 days for leap years)
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")  # Display the number of days for months having 30 days
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")  # Display the number of days for months having 31 days
else:
    print("Wrong month name")  # If the entered month name doesn't match any of the above conditions, display an error message

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: February
No. of days: 28/29 days

#Program 14.A) :  Palindrome Check

A palindrome is a string that reads the same forward and backward, for example, radar, toot, and madam.

In [ ]:
def is_palindrome(word):
    # Convert the word to lowercase for case-insensitivity
    word = word.lower()

    # Remove spaces from the word
    word = word.replace(" ", "")

    # Check if the word is equal to its reverse
    return word == word[::-1]

# Accept a word from the user
user_word = input("Enter a word to check if it's a palindrome: ")

# Call the function to check if it's a palindrome
if is_palindrome(user_word):
    print(f"{user_word} is a palindrome.")
else:
    print(f"{user_word} is not a palindrome.")

Enter a word to check if it's a palindrome: RADOR
RADOR is not a palindrome.

#Program 14 B : Check if a String is an Anagram
An Anagram is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the letters exactly once. For example, the words “anagram” and “nagaram” are anagrams.



```
# This is formatted as code
```


Two strings can’t be anagrams if they aren’t of the same length, so you’ll have to check for that first. If the length check passes, you can then store individual letters and their counts in two Python dictionaries – one for each word. If the dictionaries are identical, the strings are anagrams:

In [ ]:
def is_anagram(str1,str2):

    #Remove spaces and convert to lowercases
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # checking if the sorted characters are of equal length
    return sorted(str1) == sorted(str2)

#USE CASES
string1 = "listen"
string2 = "silent"
print(f"{string1} and {string2} are anagrams:", is_anagram(string1, string2))

string3 = "hello"
string4 = "world"
print(f"{string1} and {string2} are anagrams:",is_anagram(string3, string4))

listen and silent are anagrams: True
listen and silent are anagrams: False

#Program 14.C):Write Python Program for a leap year:

A leap year is exactly divisible by 4 except for century years ( years ending with 00). So, the century year is aleap year if it is perfectly divisible by 400.

In [ ]:
def is_leap_year(year):
    # Leap years are divisible by 4
    # Except for years that are divisible by 100, unless they are also divisible by 400
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# Accept a year from the user
user_year = int(input("Enter a year to check if it's a leap year: "))

# Call the function to check if it's a leap year
if is_leap_year(user_year):
    print(f"{user_year} is a leap year.")
else:
    print(f"{user_year} is not a leap year.")

Enter a year to check if it's a leap year: 2001
2001 is not a leap year.

#Program 14.D):Write Python Program for a CALCULATOR:

In [ ]:
p = int(input("Enter the first input: "))
q = int(input("Enter the second input: "))
oper = input("Enter the type of operation you want to perform (+, -, *, /, %): ")
result = 0
if oper == "+":
    result = p+q
elif oper == "-":
    result = p-q
elif oper == "*":
    result = p*q
elif oper == "/": #Division
    result = p//q  # Integer Division:
elif oper == "%": #Modulo (Remainder)
    result = p%q
else:
    print("Invalid Input")
print("Your answer is: ",result)

Enter the first input: 13
Enter the second input: 4
Enter the type of operation you want to perform (+, -, *, /, %): %
Your answer is:  1

# 14.E) Simple Calculator (+, -, *, /, %, //, **)

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Cannot divide by zero"

def modulus(x, y):
    if y != 0:
        return x % y
    else:
        return "Cannot calculate modulus with zero divisor"

def floor_divide(x, y):
    if y != 0:
        return x // y
    else:
        return "Cannot floor divide by zero"

def exponentiate(x, y):
    return x ** y

# Function to perform calculator operations
def calculator_operation(operation, x, y):
    if operation == '+':
        return add(x, y)
    elif operation == '-':
        return subtract(x, y)
    elif operation == '*':
        return multiply(x, y)
    elif operation == '/':
        return divide(x, y)
    elif operation == '%':
        return modulus(x, y)
    elif operation == '//':
        return floor_divide(x, y)
    elif operation == '**':
        return exponentiate(x, y)
    else:
        return "Invalid operation"

# Accept input from the user
num1 = float(input("Enter the first number: "))
operation = input("Enter the operation (+, -, *, /, %, //, **): ")
num2 = float(input("Enter the second number: "))

# Perform the specified operation
result = calculator_operation(operation, num1, num2)

# Print the result
print(f"\nResult of {num1} {operation} {num2} = {result}")

Enter the first number: 5
Enter the operation (+, -, *, /, %, //, **): 7
Enter the second number: 8

Result of 5.0 7 8.0 = Invalid operation

#Program 15:Write Python Program for

# Hello World

In [ ]:
def say_hello():
    print("Hello, world")
say_hello()

Hello, world

In [ ]:
def welcome_world(name):
    print("Welcome to the " ,name, "class," " greetings from the programming family.")
name = "Python"

welcome_world(name)

Welcome to the  Python class, greetings from the programming family.

# Addition of Two Numbers:

In [ ]:
def add_num(a,b):
    return a+b

#USE CASE:
num1 = 3
num2= 4

result = add_num(num1,num2)
print("The sum of", num1, "and", num2, "is:", result)

The sum of 3 and 4 is: 7

# Factorial Calculation

In [ ]:
def factorial(n):
    if n ==1:
        return 1
    else:
        return n * factorial (n-1)

#USE CASE:

number = 4

result = factorial(number)
print("The factorial of", number, "is:", result)

The factorial of 4 is: 24

#  Prime Number:

In [ ]:
def is_prime(num):
    if num ==1:
        return False # 1 is neither a prime nor a composite number....
    for i in range(2, int(num**0.5) + 1): # range goes from 2 to the square root of a number
        if num % i == 0: #If the given number is divisible by any of the numbers from 2 to the square root of the number, the function will return False
            return False
    return True


#Test Function
for num in range(1,10):
    print(num, is_prime(num))

1 False
2 True
3 True
4 False
5 True
6 False
7 True
8 False
9 False

# Using a for loop with an if condition:

In [ ]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**.5)+1):
        if n%i == 0:
            return False
    return True

#USE cases

numbers = [2,3,4,5,6,7,8,9,10]

prime_number = []

for num in numbers:
    if is_prime(num):
        prime_number.append(num)
print(prime_number)

[2, 3, 5, 7]

# Using list comprehension:

In [ ]:
def is_prime(n):
    if n <=1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i ==0:
            return False
    return True

#USE CASE:
numbers = [1,2,3,4,5,6,7,8,9,10,11]
prime_number = [num for num in numbers if is_prime(num)]
print(prime_number)

[2, 3, 5, 7, 11]

# Using a lambda function:

In [ ]:
is_prime = lambda n: n >1 and all(n % i !=0 for i in range(2,int(n**.5)+1))

numbers = [1,2,3,4,5,6,7,8,9,10,11,13]

prime_numbers = list(filter(is_prime, numbers))
print(prime_numbers)

[2, 3, 5, 7, 11, 13]

#Extra

In [ ]:
def is_prime(number):
    """Check if a number is prime."""
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Example usage:
num1 = 17
num2 = 25

if is_prime(num1):
    print(f"{num1} is a prime number.")
else:
    print(f"{num1} is not a prime number.")

if is_prime(num2):
    print(f"{num2} is a prime number.")
else:
    print(f"{num2} is not a prime number.")

17 is a prime number.
25 is not a prime number.

# LOOP:

# Python Program to Print Right Triangle using While Loop

In [ ]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

#Python Program to Print Inverted Right Triangle using While Loop

#16) Program 4: Write Python Program using Nested-if-else-elif; Password and Username Checking

In [ ]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Input the number of rows for the hollow pyramid
rows = int(input("Enter the number of rows for the hollow pyramid: "))
for i in range(1, rows + 1):
    for j in range(1,2*rows):
        if (i==rows and j%2!=0) or i+j == rows + 1 or j -i == rows-1:
            print('*', end = "")
        else:
            print(' ', end = "")
    print()

Enter the number of rows for the hollow pyramid: 5
    *
   * *
  *   *
 *     *
* * * * *

#Program 17: Write Python Program using "for - loop" following patterns

	A. hollow pyramid
	B. hollow square
	C. hollow rectangle
	D. capital alphabet pattern

In [ ]:
# Input the number of rows for the hollow pyramid
rows = int(input("Enter the number of rows for the hollow pyramid: "))
for i in range(1, rows + 1):
    for j in range(1,2*rows):
        if i==rows  or i+j == rows + 1 or j -i == rows-1:
            print('*', end = "")
        else:
            print(' ', end = "")
    print()

Enter the number of rows for the hollow pyramid: 5
    *
   * *
  *   *
 *     *
*********

In [ ]:
# Initialising Length and Breadth
rows = int(input("Enter the number of rows: "))
columns = int(input("Enter the number of columns: "))

# Loop through number of rows
for i in range(rows):

    # Loop through number of columns
    for j in range(columns):

        # Printing Pattern
        if(i == 0 or i == rows - 1 or j == 0 or j == columns - 1):
            print('*', end = '  ')
        else:
            print(' ', end = '  ')
    print()

Enter the number of rows: 5
Enter the number of columns: 5
*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *

In [ ]:
# Hollow square pattern in Python

# Reading number of rows
row = int(input("Enter number of rows: "))

print("Hollow sqaure pattern is: ")
for i in range(1,row+1):
    for j in range(1,row+1):
        if i==1 or i==row or j==1 or j==row:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter number of rows: 6
Hollow sqaure pattern is:
******
*    *
*    *
*    *
*    *
******

# D) capital alphabet pattern

Note: every character/alphabet has an ASCII value. For example, A has an ASCII value of 65 and Z has an ASCII value of 90.

We are going to use these values and loop from 65 to 90, then convert the number value to the character and print it.

To convert the ASCII value to the character we can use the chr() function.

In [ ]:
#Example;

# loop through alphabets and print them

# 65 in char is A
# 90 in char is Z
for i in range(65, 91):
    print(chr(i), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

# A) Square pattern 1: Every character changing

To create this simply create 2 nested for loops where the outer loop repeats a row and the internal loop prints the character in a column.

To change the character in every iteration one can set a counter and increment it by 1 every time in the inner loop.

In [ ]:
# square alphabet pattern

size = 5
count = 0

for i in range(size):
    for j in range(size):
        print(chr(65 + count), end=" ")
        # changing charater
        count += 1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

# B) Square pattern 2: character changing only in a new row:

In [ ]:
size = 5

for i in range(size):
    for j in range(size):
        print(chr(65 + i), end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

#C)Square pattern 3: character changing only in a new column;

In [ ]:
size = 5

for i in range(size):
    for j in range(65, 65+size):
        print(chr(j), end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

# D) Left Triangle Alphabet Pattern in Python:

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(chr(j + 65), end="")
    print()

A
AB
ABC
ABCD
ABCDE

# E) Right triangle Pattern:
Create 2 nested loops where the external loop will run an internal loop for the size of the pattern.

There will be 2 internal loops first one will print spaces and the other will print the character.

In [ ]:
size = 5
for i in range(size):
    for j in range(1, size - i):
        print(" ", end="")
    for k in range(i + 1):
        print(chr(65 + k), end="")
    print()

    A
   AB
  ABC
 ABCD
ABCDE

#F)  Hollow triangle alphabet Pattern:

To create this you can create 2 nested loops where

the internal loop will check if it is the first and the last position of the row then print character else print spaces and

if it is the last row then print only characters.

In [ ]:
n = 6
for i in range(1, n+1):
    count = 0
    for j in range(i):
        # print alphabets only at start and end of the row
        if j == 0 or j == i-1:
            print(chr(65 + count), end='')
            count += 1
        # print only alphabets if it's last row
        else:
            if i != n:
                print(' ', end='')
            else:
                print(chr(65 + count), end='')
                count += 1
    print()

A
AB
A B
A  B
A   B
ABCDEF

#G)  Pyramid Alphabet Pattern in Python:

 The pattern  has an odd number of alphabets in each row 1, 3, 5, 7, etc.

There will be 2 loops where the first loop will print spaces and the second loop will print the 2n + 1 alphabets.

In [ ]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(2 * i + 1):
        print(chr(65 + k), end='')
    print()

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

#H) Hollow pyramid pattern:

The first internal loop prints spaces and the second loop checks if it is the first or last position of the row then prints the character and

if its the last row then prints only characters.

In [ ]:
n = 5
for i in range(n):
    # printing spaces
    for j in range(n - i - 1):
        print(' ', end='')

    # printing alphabets
    count = 0
    for k in range(2 * i + 1):
        # print alphabets at start and end of the row
        if k == 0 or k == 2 * i:
            print(chr(65 + count), end='')
            count += 1
        else:
            if i == n - 1:
                print(chr(65 + count), end='')
                count += 1
            else:
                print(' ', end='')
    print()

    A
   A B
  A   B
 A     B
ABCDEFGHI

 # I) Reverse pyramid pattern:

The reverse pyramid pattern is equivalent to a pyramid pattern but upside down.

In [ ]:
n = 5

for i in range(n):
    # printing spaces
    for j in range(i):
        print(' ', end='')
    # printing alphabet
    for j in range(2*(n-i)-1):
        print(chr(65 + j), end='')
    print()

ABCDEFGHI
 ABCDEFG
  ABCDE
   ABC
    A

 # J) Diamond pattern:

The diamond pattern when observed carefully you will see is made up of 2 parts, the first part is the same as the pyramid pattern and the second part is the same as the reverse pyramid pattern.

In [ ]:
n = 5

# upward pyramid
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for j in range(2 * i + 1):
        print(chr(65 + j), end='')
    print()

# downward pyramid
for i in range(n - 1):
    for j in range(i + 1):
        print(' ', end='')
    for j in range(2*(n - i - 1) - 1):
        print(chr(65 + j), end='')
    print()

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI
 ABCDEFG
  ABCDE
   ABC
    A

#Program 6 A): Write Python Program using "while - loop" following patterns

	#1. hollow pyramid

In [ ]:
def hollow_pyramid(rows):
    i = 0
    while i < rows:
        spaces = rows - i - 1
        while spaces > 0:
            print(" ", end="")
            spaces -= 1

        j = 0
        while j < 2 * i + 1:
            if j == 0 or j == 2 * i  or i == rows - 1 :
                print("*", end="")
            else:
                print(" ", end="")
            j += 1

        print()
        i += 1

# Get the number of rows from the user
rows = int(input("Enter the number of rows for the hollow pyramid: "))

# Call the function to print the hollow pyramid
hollow_pyramid(rows)

Enter the number of rows for the hollow pyramid: 5
    *
   * *
  *   *
 *     *
*********

#6.B)  hollow square USING THE WHILE loop

In this script, the outer while loop controls the rows, and the inner while loop controls the columns. The conditions inside the inner while loop determine whether to print an asterisk (*) or a space.

The conditions (if i == 0 or i == rows - 1 or j == 0 or j == rows - 1:) ensure that an asterisk is printed only at the edges of the square, while spaces are printed in the interior.

In [ ]:
def hollow_square(rows):
    i = 0
    while i < rows:
        j = 0
        while j < rows:
            if i == 0 or i == rows - 1 or j == 0 or j == rows - 1:
                print("*", end="")
            else:
                print(" ", end="")
            j += 1
        print()
        i += 1

# Get the number of rows from the user
rows = int(input("Enter the number of rows for the hollow square: "))

# Call the function to print the hollow square
hollow_square(rows)

Enter the number of rows for the hollow square: 5
*****
*   *
*   *
*   *
*****

#6.c)  hollow rectangle USING THE WHILE loop:

In this script, the outer while loop controls the rows, and the inner while loop controls the columns. The conditions inside the inner while loop determine whether to print an asterisk (*) or a space.

The conditions (if i == 0 or i == rows - 1 or j == 0 or j == columns - 1:) ensure that an asterisk is printed only at the edges of the rectangle, while spaces are printed in the interior.

In [ ]:
def hollow_rectangle(rows, columns):
    i = 0
    while i < rows:
        j = 0
        while j < columns:
            if i == 0 or i == rows - 1 or j == 0 or j == columns - 1:
                print("*", end="")
            else:
                print(" ", end="")
            j += 1
        print()
        i += 1

# Get the number of rows and columns from the user
rows = int(input("Enter the number of rows for the hollow rectangle: "))
columns = int(input("Enter the number of columns for the hollow rectangle: "))

# Call the function to print the hollow rectangle
hollow_rectangle(rows, columns)

Enter the number of rows for the hollow rectangle: 5
Enter the number of columns for the hollow rectangle: 4
****
*  *
*  *
*  *
****

# Four Features of OOPs:

In this example:

Shape is an abstract class with an abstract method area.
Circle and Square are concrete classes that inherit from Shape and provide their own implementation of the area method.
Encapsulation is demonstrated by using private attributes (prefixed with an underscore) in the Circle and Square classes.
Polymorphism is demonstrated by the print_area function, which can accept any object that has an area method (both Circle and Square in this case).
Remember that abstraction, encapsulation, inheritance, and polymorphism are principles that help in designing maintainable, modular, and reusable code in object-oriented programming.

In [ ]:
# Abstraction: Representing the essential features without including the background details
class Shape:
    def area(self):
        pass

# Encapsulation: Hiding the implementation details and restricting access to certain attributes or methods
class Circle(Shape):
    def __init__(self, radius):
        self._radius = radius

    def area(self):
        return 3.14 * self._radius * self._radius

# Inheritance: Creating a new class by inheriting properties and behaviors from an existing class
class Square(Shape):
    def __init__(self, side):
        self._side = side

    def area(self):
        return self._side * self._side

# Polymorphism: The ability of different classes to be used interchangeably based on a common interface
def print_area(shape):
    print(f"Area: {shape.area()}")

# Example usage
circle = Circle(5)
square = Square(4)

print_area(circle)  # Polymorphism: Using the common interface (area method) for different shapes
print_area(square)

Area: 78.5
Area: 16